.pl0{
    padding-left:0px!important;
}
.pr0{
    padding-right:0px!important;
}
.pt70{
    padding-top: 70px;
}
.pb70{
    padding-bottom: 70px;
}
.plr0{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;
}
.mb0{
    margin-bottom: 0px;
}
.mt25{
    margin-top: 25px;
}
.mt60{
    margin-top:60px;
}
.outer-price {
    margin-bottom: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.menu-section i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: bottom;
}
.for-fit p {
    text-align: center;
}
.price-section p {
    font-size: 16px;
    line-height: 1.2;
    font-family: "Barlow", sans-serif;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
section.pricing_part.price-section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.size-span{
    background: none;
    border-right: none;
}
.color-span{
    background: none;
    border-right: none;
}
.size{
    border-left: none;
    padding-left: 0;
}
.color{
    border-left: none;
    padding-left: 0;
}
.quantity label{
    display: block;
}
.quantity input{
    width: 60px!important;
    margin-left: 40px;
    margin-right: 20px;
}
b {
    color: #000;
}
.last {
    margin-top: 26px;
    text-align: center;
}
.last img {
    width: 72px;
}
.check-buy {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    background: #ff461f;
    border: none;    
    letter-spacing: 1px;
}
.privacy p {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.url {
    text-align: end;
}
.url p {
    margin-bottom: 0px;
        padding-right: 30px;
}
.footer-banner{
    background-position: center;
    padding-top: 245px;
}
.footer-banner p {
    color: #fff;
    letter-spacing: 1.25px;
    font-size: 16px;
    line-height: 16px;
}
.footer-banner p a {
    color: #fff;
}
.footer-banner p span {
    padding: 0px 5px;
}
button.btn.btn-primary.buy-now span {
    position: absolute;
    color: #1daeff;
    bottom: -30px;
    font-size: 30px;
    left: 49%;
}
.banner-time h2 {
    background: #000;
    color: #fff;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 22px;
    padding: 10px;
    letter-spacing: 1px;
}
.down-outer-price {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.first-box img{
    width:100%;
}
.second-box img{
    width:91%;
}
.lSSlideOuter .lSPager.lSGallery{
    width:100%!important;
}
.lSSlideOuter .lSPager.lSGallery li{
    width: 107px!important;
    margin-top: 30px!important;
    margin-right: 7px!important;
}
.lSSlideOuter .lSPager.lSGallery li:last-child {
    margin-right: 0px!important;
}
button.btn.btn-primary.buy-now {
    padding: 10px 25px;
}
button.btn.btn-primary.buy-now {
    padding: 10px 25px;
    background: #1daeff;
    border: none;
    font-weight: 600;
}
.slick-right h3 {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 24px;
}
.slick-right p span {
    font-size: 20px;
}
button.btn.btn-primary.buy-now:hover {
    background: #1daeff;
}
.slick-right p span.actuall {
    margin-right: 15px;
    color: #000;
}
.slick-right p span.offer {
    color: #ff0000;
}
.slick-right p {
    margin-bottom: 25px;
    color: #000;
}
.size-span b {
    letter-spacing: 1px;
}
.color-span b {
    letter-spacing: 1px;
}
.slick-right .quantity b {
    letter-spacing: 1px;
}
.slick-right .quantity span {
    color: #ff461f;
    letter-spacing: 1px;
}
.check-buy:hover {
    background: #ff461f;
}
.detail-tab {
    margin-top: 20px;
}
.detail-tab a {
    color: #ff461f;
}
.detail-tab a.active {
    color: #ff461f!important;
}
.detail-tab .tab-content .tab-pane {
    padding-left: 0px!important;
}
.lSAction > a.lSPrev{
    background:url('../images/right.png')!important;
}
.lSAction > a.lSNext{
    background:url('../images/left.png')!important;
}
.lSAction > a {
    width: 27px!important;
    height: 42px!important;
}
.banner-section h1{
    font-size: 44px;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 225px 0;
    font-weight: 900;
    letter-spacing: 1px;
}
.slick-right button.btn.btn-primary.check-buy {
    font-weight: 600;
}
@media only screen and (max-width: 480px) and (min-width: 320px){
.banner_part {
    background-position: center!important;
}
.demo {
    width: 100%!important;
}
.lSSlideOuter .lSPager.lSGallery li {
    width: 23.6%!important;
    margin-right: 5px!important;
}
.slick-right {
    margin-top: 25px;
}
.footer-banner .row{
    flex-direction: column-reverse;
}
.footer-banner p {
    text-align: center;
    letter-spacing: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.banner_part .banner_text .banner_text_iner {
    padding-top: 0px!important;
}
.banner-time h2 {
    width: 70%;
}
.banner-section h1 {
    padding: 76px 0!important;
}
button.btn.btn-primary.buy-now span {
    left: 46%;
}
.second-box img {
    width: 100%;
}
.first-box img {
    padding-bottom: 25px;
}
.banner_part {
    position: relative;
    background-image: url(../images/threeto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
}
@media only screen and (max-width: 667px) and (min-width: 577px){
    .banner-section h1 {
        padding: 88px 0!important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 668px){
    .banner-section h1 {
        padding: 160px 0!important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 577px){

    .first-box.body {
        margin-bottom: 25px;
    }
    .second-box img {
        width: 100%;
    }
}
@media only screen and (max-width: 576px) and (min-width: 481px){
    .banner-section h1 {
        padding: 63px 0!important;
    }
    .second-box img {
        width: 100%;
    }
    .first-box.body {
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
    .new-pricing-section .plr0{
        width:25%;
    }
    .demo {
        width: 100%!important;
    }
    .lSSlideOuter .lSPager.lSGallery li {
        width: 23.8%!important;
        margin-right: 5px!important;
    }
    .slick-right {
        margin-top: 25px;
    }
    .footer-banner .row{
        flex-direction: column-reverse;
    }
    .footer-banner p {
        text-align: center;
        letter-spacing: 1px;
    }
.banner_part {
    position: relative;
    background-image: url(../images/fourto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_part .banner_text .banner_text_iner {
    padding-top: 0px!important;
}
.banner-time h2 {
    width: 54%;
}

button.btn.btn-primary.buy-now span {
    left: 47%;
}
.plr0{
    width: 33.33%;
}
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
    .banner_part .banner_text .banner_text_iner {
        padding-top: 80px!important;
    }
    .banner-time h2 {
        width: 36%;
    }
    .body-boxes-container{
        max-width: 100%;
        padding: 0px!important;
    }
    .second-box img {
        width: 92%;
    }
    .demo {
        width: 100%!important;
    }
    .lSSlideOuter .lSPager.lSGallery li {
        width: 24%!important;
        margin-right: 4px!important;
    }
}
@media only screen and (max-width: 869px) and (min-width: 769px){
    .banner-section h1 {
        padding: 113px 0!important;
    }
}
@media only screen and (max-width: 970px) and (min-width: 870px){
    .banner-section h1 {
        padding: 144px 0!important;
    }
}
@media only screen and (max-width:1024px) and (min-width: 971px){
    .banner-section h1 {
        padding: 211px 0!important;
    }
}
@media only screen and (max-width: 1075px) and (min-width: 1025px){
.banner-section h1 {
    padding: 168px 0 168px 0!important;
}
} 
@media only screen and (max-width: 1300px) and (min-width: 1200px){
    .banner-section h1 {
        padding: 260px 0!important;
    }
}






































header.main_menu.menu-section {
    padding-top: 10px;
}
header .home_page_btn {
    color: #000!important;
    padding: 5px 30px;
    border: none;
    background: #f4ac0c!important;
    border-radius: 50px;
    font-weight: 600;
}

.banner-section .banner_text_iner{
    text-align: center;
}
.banner-section p {
    margin-bottom: 20px;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 20px;
}
.banner-section ul li {
    display: inline-block;
    width: 70px;
}
.banner-section ul li:last-child {
    background: #fff;
    border-radius: 5px;
    padding: 2px 7px;
}
.banner-section ul li:first-child {
    margin-right: 20px;
}

section.pricing {
    background: #f4f4f4;
    padding: 60px 0;
}
section.do-consumers {
    background: #f4f4f4;
    padding: 60px 0;
}
section.do-consumers h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: "Barlow", sans-serif;
}
section.pricing h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
}
section.pricing .first-price p:first-child {
    margin-bottom: 20px;
    color: #000;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}
section.pricing .first-price p {
    color: #000;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
section.pricing .first-price {
    text-align: center;
    background: #fff;
    padding: 30px 50px;
    margin-bottom: 30px;
    height: 400px;
}
section.pricing .first-price p {
    margin-bottom: 20px;
}
section.pricing .first-price ul li {
    display: inline-block;
    margin-top: 40px;
}
button.check-rate-number {
    background: #086a9c;
    border: none;
    padding: 0px 30px;
    height: 58px;
    font-size: 20px;
}
button.check-rate-number span {
    font-size: 12px;
    display: block;
}
button.licensing {
    background: #086a9c;
    border: none;
    padding: 0px 100px;
    height: 58px;
    font-size: 20px;
    letter-spacing: 1px;
}
.copyright_text p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.how-it-works h2 {
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Barlow", sans-serif;
}
.how-it-works h4 {
    color: #fff;
    margin-bottom: 0px!important;
    letter-spacing: 1px;
    font-size: 22px!important;
    font-weight: 100!important;
}
.how-it-works img {
    max-width: 120px;
}  
.tabs-left>li>a.active{
    color:#086a9c;
}
.faq-section {
    box-shadow: 0px 0px 10px 3px #ccc;
    padding: 40px 50px;
    margin-bottom: 40px;
}
.left-side-faq{
    float: left;
    border-right: 1px solid #ccc;
    padding-right: 50px;
    margin-right: 40px;
}
section.use_sasu.faq {
    padding: 60px 0;
}
.tabs-left li {
    margin-bottom: 20px;
}
.tabs-left li a {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px!important;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
.clearfix::before{
    display: block;
    clear: both;
    content: "";
}
.menu_fixed .btn_1 {
    border: none!important;
}
button.check-rate-number img {
    width: 17px;
    margin-right: 10px;
}
.accordion_part h5 [aria-expanded="true"]{
    color:#086a9c!important;
}
button.btn.btn-primary.check-rate:hover {
    background: #f4ac0c;
    color: #000;
}